body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1 {
    color: #27aedb;
}
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #e8eaf1;
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    font-size: 14px;
}

.textarea{
    background-color: #eff1f5;
    margin: 8px;
    border-radius: 8px;
    outline: none;
    border: none;
    min-height: 100%;
    max-height: 100%;
    font-family: sans-serif;
    overflow-y: auto;
    resize: none;
    scrollbar-width: thin;
}

.app > * {
    padding: 10px;
}

.underline {
    border: 2px solid #27aedb;
}
.code-block {
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    margin: 0;
}

li {
    list-style-position: inside;
    list-style-type: circle;
}

.m-image {
    display: block;
    height: 300px;
}